// Importing snippets
@import "./resets";
@import "./variables";
@import "./functions";
@import "./mixins";

// Styling
body {
  background: $primary-color;
  color: $text-color;
}

// & = parent
// Nesting
.main {
  @include flexCenter(column);
  width: 80%;
  margin: 0 auto;

  #{&}__paragraph {
    font-weight: weight(bold);
    // Hover
    &:hover {
      color: pink;
    }
  }
}

.theme {
  @include theme(false);
}
